#hero {
  background: url(../images/first_farm_cover.jpg);
}

.slider {
  position: relative;
  margin: auto;
}

.slide {
  display: none;
  width: 100%;
}

.slide.active {
  display: block;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  background-color: rgba(155, 166, 133, 0.7);
  border: none;
  color: #2d360d;
  padding: 10px;
  cursor: pointer;
  transform: translateY(-50%);
  font-size: 2em;
  user-select: none;
}

button.prev {
  left: 0;
}

button.next {
  right: 0;
}

button.prev:hover,
button.next:hover {
  color: #d4b57b;
}
