#hero {
  background: url(../images/index_cover.jpg);
}

#intro h2 {
  color: white;
}

#merkmale {
  flex-direction: row;
  gap: 3%;
  justify-content: center;
}

#merkmale div {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 15ch;
  padding: 3% 2%;
}

#merkmale img {
  scale: 60%;
  max-height: 100px;
}

#produkte {
  text-align: center;
  background-color: #2d360d;
}

#produkte img {
  width: 80%;
}

#produkte a {
  background-color: #d7d9b0;
  color: #2d360d;
  max-width: 20%;
  text-align: center;
}

#produkte a:hover {
  background-color: #2d360d;
  color: white;
}

#produkte h3 {
  color: white;
  margin-bottom: 3%;
  font-size: 1.5rem;
}

#produkte p {
  color: white;
  margin-bottom: 3%;
}

.produkte_overview {
  text-align: left;
  padding: 3% 0%;
}

.produkte_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5% 0%;
}

.produkte_links img {
  margin-right: 5%;
}

.produkte_rechts {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 1.5% 0%;
}

#cta {
  text-align: center;
}

#cta h2 {
  color: white;
}

#cta a {
  max-width: 40%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  #merkmale div {
    padding: 3% 0;
  }
}
