* {
  font-family: "Franklin Gothic Book", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: "Yeleva One", serif;
  font-weight: bold;
  color: white;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #2d360d;
  cursor: pointer;
}

a:hover {
  color: #d4b57b;
  text-decoration: underline;
}

a:active {
  color: #feaea7;
}

body {
  background-color: #9ba685;
  color: #2d360d;
}

a.link_button {
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  padding: 1% 3%;
  background: #2d360d;
  color: white;
  transition: 0.3s;
  font-weight: bold;
}

a.link_button:hover {
  background: #feaea7;
  color: #2d360d;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: auto;
  margin-top: 1em;
}

section p {
  margin: 2% auto;
  max-width: 60ch;
}
