* {
  font-family: "Barlow", sans-serif;
}

h1, h2 {
  font-family: "Yeleva One", serif;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hero {
  background-image: url("images/hero_image.png");
}


